<h1><%= @user.name %>のページ</h1>

<p>メールアドレス: <%= @user.email %></p>
<% @favorites.each do |favorite| %>
  <tr>
    <td><%= favorite.blog.title %></td>
    <td><%= favorite.blog.content %></td>
    <td><%= favorite.blog.user.name %></td>
  </tr>
<% end %>